<!-- contact section -->
<section class="contact_section  long_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <div class="heading_container">
            <h2>
              Contact Us
            </h2>
          </div>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate="novalidate">
            <div style="height: 80px;">
              <input type="text" placeholder="Your Name" formControlName="name" />
              <div style="color:red" *ngIf="fval['name'].touched && fval['name'].invalid">
                <small>
                  <div *ngIf="fval['name'].errors && fval['name'].errors['required']">
                    {{"Contact name is required"}}
                  </div>
                </small>
              </div>
            </div>
            <div style="height: 80px;">
              <input type="text" placeholder="Phone Number" formControlName="phone_number" />
              <div style="color:red" *ngIf="fval['phone_number'].touched && fval['phone_number'].invalid">
                <small>
                  <div *ngIf="fval['phone_number'].errors && fval['phone_number'].errors['required']">
                    {{"Phone Number is required"}}
                  </div>
                </small>
              </div>
            </div>
            <div style="height: 80px;">
              <input type="email" placeholder="Email" formControlName="email" />
              <div style="color:red" *ngIf="fval['email'].touched && fval['email'].invalid">
                <small>
                  <div *ngIf="fval['email'].errors && fval['email'].errors['required']">{{'Email address is required'}}.
                  </div>
                </small>
              </div>
            </div>
            <div style="height: 80px;">
              <input type="text" placeholder="Message" formControlName="message" />
              <div style="color:red" *ngIf="fval['message'].touched && fval['message'].invalid">
                <small>
                  <div *ngIf="fval['message'].errors && fval['message'].errors['required']">
                    {{'Enter Valid Message'}}
                  </div>
                </small>
              </div>
            </div>
            <div class="btn_box" >
              <button type="submit">
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map_container">
          <div class="map">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                  src="https://maps.google.com/maps?width=600&amp;height=500&amp;hl=en&amp;q=vijay nagar, indore&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a
                  href="https://sprunkiplay.com/">Sprunki Game</a>
              </div>
              <style>
                .mapouter {
                  position: relative;
                  text-align: right;
                  width: 100%;
                  height: 500px;
                }

                .gmap_canvas {
                  overflow: hidden;
                  background: none !important;
                  width: 100%;
                  height: 500px;
                }

                .gmap_iframe {
                  height: 500px !important;
                }
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->